[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.9.1"
markdown = "==3.6"
beautifulsoup4 = "*"

[dev-packages]
invoke = "==2.2.0"
livereload = "==2.7.0"

[requires]
python_version = "3.10"
